.header {
  margin: 45px auto 0 auto;
  padding: 0;
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  max-width: 880px;
  text-align: left;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 929px) {
  .header {
    max-width: 640px;
  }
}

@media screen and (max-width: 644px) {
  .header {
    margin: 28px auto 42px auto;
    min-width: 100%;
  }
}